---
const year = new Date().getFullYear();
---

<footer class="my-16 text-center">
  <p class="text-base">&copy; {year} Sal Hasan. All Rights Reserved.</p>
  <p>
    Made with ❤️ using <a
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline decoration-2 decoration-underline underline-offset-2 text-link"
      >Astro</a
    >. Template by <a
      href="https://github.com/ttomczak3/Milky-Way"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline decoration-2 decoration-underline underline-offset-2 text-link"
      >ttomczak</a
    >.
  </p>
</footer>
