---
import ModeToggle from "./ModeToggle.astro";
import Button from "./ui/Button.astro";
import { Github } from "simple-icons-astro";
---

<header>
  <nav transition:persist class="flex items-center justify-between py-4">
    <a
      href="/"
      class="font-cursive text-2xl hover:underline decoration-underline decoration-2 underline-offset-6"
      >MrPancakes39</a
    >
    <ul class="flex gap-2 items-center">
      <li class="flex gap-1">
        <Button
          as="a"
          variant="ghost"
          size="icon"
          class="cursor-pointer"
          href="https://github.com/MrPancakes39"
          target="_blank"
          rel="noopener noreferrer">
          <Github class="h-6 w-6" />
        </Button>
        <ModeToggle />
      </li>
    </ul>
  </nav>
</header>
